[2015-07-31 12:01] rubenvdb opened #3 "Return code sometimes is zero when an error is encountered"
When the phraseapp cli tool encounters an error, "ERROR" is shown in the output, but the return code of the process is 0. When using the tool in an automated environment, scripts and CI tools (e.g. Jenkins) rely on this return code to determine whether the action succeeded.

Steps to reproduce:
- remove the access token from the .phraseapp.yml
- execute "phraseapp pull/push"

- execute "echo $?"

[2015-07-31 12:03] rubenvdb opened #4 "Phrase push doesn't support "tags""
The old CLI tool allowed you to pass a "--tags" argument to add tags to translations pushed with this parameter.

Expected behavior:

    phraseapp push --tags=foo,bar

Attaches one or multiple tags with your file upload. All keys added by the push will be tagged with the specified tags.

[2015-07-31 12:32] fredv commented on #4
Hi @rubenvdb, this is correct. Please use the new functionality `phraseapp upload create` for this as described here: http://docs.phraseapp.com/api/v2/uploads/
Best, Frederik

[2015-07-31 12:34] fredv commented on #3
Thanks for noting this behavior, @rubenvdb. We'll look into how to solve this more conveniently.

[2015-07-31 12:34] rubenvdb opened #5 "Feature Request: Add support for <locale_code> placeholder in locale_id parameter"
When mapping custom locales on different language files (e.g. when we decide to map app_nl-BE to our ios app localizable.strings file and iwatch_nl-BE to the watch extension's strings file), it would be nice to be able to write the .phraseapp.yml file like this:

    - file: path/to/app/SupportingFiles/<locale_code>.lproj/Localizable.strings
      params:
        file_format: strings
        local

[2015-07-31 13:32] rubenvdb opened #6 "Feature request: store defaults in a user-specific phraseapp.yml file"
Right now, the user's API key is stored in each project's .phraseapp.yml file. This file is committed into git, after which other developers and a CI build server all use the same API key for that project. This results in all actions to be done in the capacity of the user who ran the init command. Moreover, this key allows access to all projects of that first user, even if another developer doesn'

[2015-07-31 13:54] fredv commented on #6
Thank you for this suggestion, @rubenvdb. This is something we're planning to include in a future release. The project .phraseapp.yml would only include the project structure and a .phraseapp.yml in $HOME or $HOME/.config include the user credentials.

[2015-08-03 12:09] sacry-dyn commented on #4
Hi @rubenvdb, as @fredv noted this is correct. If you want to see what arguments are supported do `phraseapp push --help`. `push / pull / init` are special commands that solely rely on a `.phraseapp.yml`. If you would like to upload locales and use `--tags` as an option, use `phraseapp upload create`. See here for more information on push/pull:

http://docs.phraseapp.com/guides/working-with-phrase

[2015-08-03 12:17] sacry-dyn commented on #5
Hi @rubenvdb. Could you elaborate on how this will not work with e.g the <locale_name> or <locale_code> described here:

http://docs.phraseapp.com/guides/working-with-phraseapp/command-line-client/

Is it the iwatch_ and app_ that you are missing? How about:

<pre><code>
- file: path/to/app/SupportingFiles/app_&lt;locale_code&gt;.lproj/Localizable.strings
  params:
    file_format: strings
- file:

[2015-08-03 12:21] fredv commented on #6
@rubenvdb have you tried specifying the access-token as argument to phraseapp push/pull ? This should work, so that you can remove it from the shared .phraseapp.yml

[2015-08-04 06:58] rubenvdb commented on #4
Hi @sacry-dyn ,

Although I understand the use of the upload command, I still can see benefit in the possibility of adding an additional tag when pushing new keys. We used the tags flag to add a tag containing the git sha1 of the commit in which the keys were added. In complex syncing situations, the push command is easier to use (because it reads the config from the file).
That being said, I woul

[2015-08-04 07:16] rubenvdb commented on #5
Hi @sacry-dyn,

The thing we're trying to accomplish is this:
We often have a project codebase that has different 'flavors'. Such an app can be built with a build flag that switches between different brands / assets / API endpoints etc. One of the customizable things is the strings file.
An example:
An app can be built for the Belgian and Dutch market. The Belgian app should support nl-BE, fr-BE a

[2015-08-04 10:05] sacry-dyn commented on #4
Hi @rubenvdb

we will keep the request in mind though. We want to offer as many options as possible. push and pull however can easily take 8+ command line arguments so to keep it simple we restrain from adding cmd arguments for now. If the need arises we are certainly open to consider a few command line options that enhance the interactive experience like tags or update_translations.

[2015-08-04 10:05] #4 closed

[2015-08-04 10:23] sacry-dyn commented on #5
@rubenvdb thank you for clarification. Seems like a good addition to the configuration. I have opened a pull request which we will review shortly https://github.com/phrase/phraseapp-client/pull/7

[2015-08-04 10:24] sacry-dyn commented on #3
@rubenvdb this should be fixed. We will have to release a new version though. Expect it to happen today.

[2015-08-04 10:28] sacry-dyn commented on #6
@rubenvdb this was not possible as of now. It is fixed and is already in master. Should be out with the next release of the binary. As for the feature request to have a default to look up user specific options is certainly possible but adds another layer of complexity. Is the approach to explicitly set the token via --token possible for you?

[2015-08-04 12:38] sacry-dyn commented on #3
@rubenvdb I will close this, the latest release 0.3.1.beta should return 1 if an error occured. If anything pops up feel free to reopen.

[2015-08-04 12:38] #3 closed

[2015-08-04 12:38] sacry-dyn commented on #5
Added as of version 0.3.1.beta

[2015-08-04 12:38] #5 closed

[2015-08-04 13:45] rubenvdb commented on #6
It is definitely a good solution on our build server, where we can override the developers' access tokens committed in git. For devs however, it adds the additional complexity to always have to add the access token (which is not easy to remember), and to have to manually remove them for security purposes. Therefore, I'd like to keep this feature request open, as storing credentials in a user-speci

[2015-08-05 11:02] sacry-dyn commented on #6
@rubenvdb another possible solution: how about setting an env variable for your auth token?

[2015-08-05 11:09] rubenvdb commented on #6
Sounds like a good solution to me!

[2015-08-05 14:27] sacry-dyn commented on #6
@rubenvdb addressed this issue in the latest binary release. The order of precedence is as follows: token via command-line > env token > default token in your config.

https://github.com/phrase/phraseapp-client/releases/tag/0.3.4.beta

[2015-08-06 14:31] #6 closed

[2015-08-11 12:08] rubenvdb opened #9 "Make access token optional in the phraseapp init command"
The "phraseapp init" command asks for an access token when initializing a new project. This access token is however optional; since #6 it is also possible to specify the access token via the parameters or an environment variable.
It should therefore be possible to skip the step of entering an access token (by leaving it empty) when running the "init" command.

[2015-08-11 13:35] andi357 opened #10 "Filter by tags"
I have two localizable files in my iOS project. The first one is the `Localizable.strings` file, wich can be easily updated by using `phraseapp pull`.

The second one is the `InfoPlist.strings` file that contains localizations e.g. for the `NSCalendarsUsageDescription` of the project's `Info.plist`. Currently I don't see any other chance than creating a second PhraseApp project for this file.

I w

[2015-08-12 13:07] docstun commented on #10
The `pull` command only supports one `tag` since it relies on the parameters from the [locales#download endpoint](http://docs.phraseapp.com/api/v2/locales/#download), so you should be able to specify your targets like this:

[code]

Does that solve the problem?

[2015-08-12 14:35] andi357 commented on #10
Oh, I didn't now that this is actually possible 😱 You need to describe that bug feature in you documentation 😉

One tag is enough for me I guess. I will try that later.

Thank you!

[2015-08-12 14:46] #10 closed

[2015-08-19 12:20] fredv commented on #9
@rubenvdb since init is usually used for initial setup only and you can easily retrieve the token (and I assume have currently no need to automate this interactive wizard), we will for now not automatically use the token specified in the ENV. Thank you for suggesting this, we might consider it in the future.

[2015-08-19 12:20] #9 closed

[2015-08-26 08:02] argon opened #11 "Homebrew formula"
The previous CLI tool was great because it could be installed as a gem with our project bootstrapping scripts. The only way to do that with this new tool is if the go toolchain is installed, using `go get`. Even then it installs with a different name than your documentation recommends. (`phraseapp-client` vs `phraseapp`). This tool would be much more pleasant to use with a homebrew formula

[code]

[2015-08-26 08:57] docstun commented on #11
We're already working on it :) You can help us by starring the repository since repos require a certain popularity in order to be added to homebrew.

[2015-08-26 13:47] argon commented on #11
A homebrew tap would be a great temporary solution :+1:

[2015-08-26 14:13] argon commented on #11
This works for me, for now https://github.com/argon/homebrew-phraseapp/blob/master/phraseapp.rb.

[code]

[2015-08-26 16:08] fredv commented on #11
Hi @argon,
thank you for suggesting this! We published the recipe now under our new homebrew tap repo:

[code]

Best,
Frederik

[2015-08-26 16:08] #11 closed

[2015-08-26 16:38] argon commented on #11
Great! The only problem is that the instructions in the readme for the tap are outdated. To be correct, it should be

Also `brew install phraseapp` works perfectly well, it doesn't really need the extra components in the path.

[2015-08-27 12:50] ajb opened #12 "Don't pull base language?"
How can I configure the client to not pull my base language?

[2015-08-27 12:54] docstun commented on #12
I guess the best way would be to define each locale explicitly in your `.phraseapp.yml` config file, e.g:

[code]

Does that solve your problem?

[2015-08-27 12:55] ajb commented on #12
Sure. Thanks!

On Thu, Aug 27, 2015 at 8:54 AM, Manuel Boy <notifications@github.com>
wrote:

--
Adam Becker
(951) 9-BECKER
@AdamJacobBecker

[2015-08-31 14:54] fredv opened #13 "Globbing source files (e.g. ./config/locales/views/**/*.yml) isn't working for me in Linux"
Looks like this could be fixed in 639: https://github.com/phrase/phraseapp-client/blob/master/push.go

Globbing source files (e.g. ./config/locales/views/**/*.yml) isn't working in Linux. Here's the stack trace:

panic: regexp: Compile(`*.yml`): error parsing regexp: missing argument to repetition operator: `*`

goroutine 1 [running]:
regexp.MustCompile(0xc2081c1709, 0x5, 0xc2082d26f0)
/usr/local/

[2015-09-02 10:41] j4zz commented on #4
I’m sorry, but what would be the `pull` equivalent for only pulling translations for certain tags only? With the deprecated [phrase gem](https://github.com/phrase/phrase), this would have been `phrase pull de --tag=feature-messenger-v2` for example.

This was probably referred to by @sacry-dyn [here](https://github.com/phrase/phraseapp-client/issues/4#issuecomment-127212451), but the link referred

[2015-09-02 10:48] fredv commented on #4
Hi @j4zz, there is a new command, called "phraseapp upload create" which supports tags. Also, inside a push source, you can specify the same params upload create takes for the source file you're trying to tag - if this is supposed to happen on every push. For singular import, use upload create, for regular pushes add the params as described here: http://docs.phraseapp.com/developers/cli/configurat

[2015-09-02 15:41] fredv commented on #13
@sacry-dyn solved and tested in 1.0.1 ?

[2015-09-07 14:29] ajb commented on #12
Hm. With this config:

![img](http://take.ms/R4O44)

I'm seeing this:

![img](http://take.ms/QR4KtJ)

[2015-09-10 09:56] Pertel commented on #12
According to the [documentation for targets] (http://docs.phraseapp.com/developers/cli/configuration/#targets), the only valid formats for the file parameter is with a `<locale_name>` or `<locale_code>` placeholder. I would also like to both pull and push specific files, instead of all locales in a folder.

[2015-09-10 11:05] kennell commented on #12
@Pertel you can push/pull specific locales and save them to a custom path (including the Placeholders). Example:

[code]

[2015-09-10 11:49] ajb commented on #12
Maybe it looks like `locale_id` needs to be nested inside the `params` hash, which I haven't done?

[2015-09-22 11:56] sacry-dyn commented on #13
@fredv was tested on a VM and worked

[2015-10-05 17:02] gcoderre opened #17 "Error when running pull command"
On a clean install of phraseapp through homebrew:

[code]

[2015-10-05 17:10] gcoderre commented on #17
Well nevermind that issue. :) I'm so used to using yaml with Ruby that I plunked ERB in there and expected it to work.

Can I interpolate environment variables somehow?

[2015-10-05 17:10] #17 closed

[2015-10-06 07:42] docstun commented on #17
@gcoderre you should store these things in your `.phraseapp.yml` config file. For the access token, we already support putting it into the ENV: http://docs.phraseapp.com/developers/cli/usage/

[2015-10-06 21:42] gcoderre commented on #17
Sorry, I didn't read the documentation properly. That fixes it. Thanks @docstun.

[2015-11-16 08:55] #13 closed

[2015-11-16 09:02] gfrey commented on #12
Sorry for the much to long delay. Yes, `locale_id` must be inside the `params` hash.
Can we close the issue?

[2015-11-16 16:02] ajb commented on #12
go for it

On Mon, Nov 16, 2015 at 1:02 AM, Gereon Frey <notifications@github.com>
wrote:

--
Adam Becker
(951) 9-BECKER
@AdamJacobBecker

[2015-11-17 08:24] #12 closed

[2015-12-07 12:10] serggl opened #18 "Android: pull/push different files for plain strings and string arrays"
is it possible?
I don't like having them in a single `strings.xml` file, I used to split them into `strings.xml` and `arrays.xml`

How do I achieve this using this tool?

[2015-12-08 07:26] gfrey commented on #18
Yes, it is. Upload the files with a tag. This tag can then be used on downloading to put the different keys into seperate files again.

Use something like the following your `.phraseapp.yml`:
[code]

Does that help?

[2015-12-10 07:24] rubenvdb opened #19 "[Feature request] Being able to set max length of a string from within translation file"
In Phraseapp, keys have a "max. characters" property, which comes in very handy when working with multiple translators. When uploading a file to phraseapp to add new keys, it would be nice if we would be able to set this property from within the language file (and would be synchronized back on a pull), for example with a tag or in a specific comment.

[2015-12-10 08:40] #19 closed

[2015-12-10 08:40] rubenvdb commented on #19
Added to uservoice:
http://support.phraseapp.com/forums/152807-general/suggestions/11034930-allow-to-set-max-length-of-a-string-from-within-tr

[2015-12-16 09:50] #18 closed

[2016-02-09 09:52] vanniktech opened #27 "Make en translations in Android project default"
Right now our pull config looks like this:

[code]

Which results in:

Downloaded de to app/src/main/res/values-de/strings.xml
Downloaded vi to app/src/main/res/values-vi/strings.xml
Downloaded pl to app/src/main/res/values-pl/strings.xml
Downloaded ar to app/src/main/res/values-ar/strings.xml
Downloaded es to app/src/main/res/values-es/strings.xml
Downloaded id to app/src/main/res/values-id/strin

[2016-02-09 13:56] gfrey commented on #27
Hi,

you could use a dedicated download target for the english locale:

[code]

Hope that helps,
Gereon

[2016-02-09 14:04] vanniktech commented on #27
That's sweet!

Thanks a lot @gfrey

One more question is there anyway to then exclude `en` from `- file: ./app/src/main/res/values-<locale_name>/strings.xml`?

[2016-02-09 14:07] gfrey commented on #27
No, sorry. You could of course manually give all the locales to download (like the en locale), but there is no possibility to exclude locales from a pull with placeholder target.

[2016-02-09 14:10] vanniktech commented on #27
Hmm okay fair enough. Is there anything like this planned in the future?

[2016-02-09 14:46] gfrey commented on #27
I'll add a feature request to our backlog.

[2016-02-09 14:46] #27 closed

[2016-02-10 08:09] vanniktech commented on #27
@gfrey thank you! Also another awesome feature would be a hook where you can just execute a script after the pull has been finished. In that script you could literally do everything.

[2016-02-11 10:33] andreasknoepfle opened #28 "Error on push: "failed to create locale: no locale code specified""
I got an app with multiple "yml" files that should be treated seperatly. I have a configuration, that works perfectly fine for us.
But the "push" still shows **"failed to create locale: no locale code specified"** for each of the additional yml files, but not the default one. Its a Ruby on Rails project if this matters anyhow.

Is this a bug in phraseapp or is something wrong with my configuration

[2016-02-11 13:14] gfrey commented on #28
Hi @andreasknoepfle,
that's a tough one. The problem is that the a file `/devise.views.en.yml` would match `/<locale_name>.yml

[2016-02-12 08:41] andreasknoepfle commented on #28
Thanks. Now the errors finally make some sense to me :).

Best regards,
Andi

[2016-02-12 08:41] #28 closed

[2016-02-16 10:38] joernahrens commented on #27
It actually doesn't work with
[code]
You have to use the `locale_id` you get from the locale preferences (which is some **hexadecimal value**).

[2016-02-16 10:43] gfrey commented on #27
@joernahrens well `en` worked for the OP as `en` was the name (not code!) of the locale he was pushing into. The `locale_id` parameter takes both PhraseApp's id (the hex string) or the name of the locale to push to.

[2016-02-16 10:53] joernahrens commented on #27
Hi @gfrey
in my case `en`was also the default locale, it was the exact same case. But with the configuration above the file `values/strings.xml` was not touched by `phraseapp pull` (didn't test push yet). It only worked as I changed it to the ID from the web configuration.

[2016-02-16 11:09] gfrey commented on #27
Hi @joernahrens
each locale has two "properties":

* a name: Must be unique over all the project's locales, but can be an arbitrary string like `English`.
* a code: A valid RFC5646 string like `en-US`. There could be more than one locale in PhraseApp with the same code!

In the above example name and code were equal, and therefore pulling with `locale_id` worked. Please make sure you're using the

[2016-03-01 08:17] floskel opened #30 "Config file as a parameter"
Is it possible to specify what config file to use?
Something like `phraseapp pull --config=.my_phrasapp_config.yml`

[2016-03-03 14:07] sacry-dyn commented on #30
@floskel We have thought about it as well but had to sort out a few things before. I think this is a reasonable option which we should add in a near future release, what do you think @tobstarr ?

[2016-03-08 16:55] vinzen opened #32 "Placeholder Android xml format"
Having an iOS project, `%@` is correctly converted to `%s`.
But when there is multiple placeholder in the same translation, It should not be `%s` but `%1$s`, `%2$s` etc

See http://developer.android.com/intl/es/guide/topics/resources/string-resource.html#FormattingAndStyling

[2016-03-09 09:09] docstun commented on #32
Thanks for sharing this. It looks like an issue with our API, not with the client so I will close this issue here and keep you updated via our support team.

[2016-03-09 09:09] #32 closed

[2016-04-18 09:45] francois2metz opened #36 "License"
Hi,

What's the license of this client?

[2016-04-18 12:03] docstun commented on #30
@floskel did you try using the `PHRASEAPP_CONFIG ` environment variable? See the documentation here: https://phraseapp.com/docs/developers/cli/configuration/

[2016-04-20 14:38] sacry-dyn commented on #36
@francois2metz hi, we decided to put this under MIT license as of now.

[2016-04-21 08:14] francois2metz commented on #36
Thanks!

[2016-04-21 08:14] #36 closed

[2016-04-26 08:17] sacry-dyn commented on #30
@floskel I will close the Issue for now. If you want to reopen, feel free to do so.

[2016-04-26 08:17] #30 closed

[2016-06-16 15:43] lborie opened #40 "Bad link to the documentation"
In the file [shared.go](https://github.com/lborie/phraseapp-client/blob/master/shared.go#L42), the link to the documentation is wrong in the file extension management.

It should be :
`http://docs.phraseapp.com/docs/guides/formats/%s`

[2016-06-17 09:20] sacry-dyn commented on #40
@lborie thank you for noticing. We will fix it and release it as soon as possible.

[2016-06-17 09:37] lborie commented on #40
Sure, you're right !. The good URL is
`https://phraseapp.com/docs/guides/formats/%s`

:+1:

[2016-06-17 10:12] sacry-dyn commented on #40
We fixed the link in this commit (and a couple of other urls as well):

https://github.com/phrase/phraseapp-client/commit/769a42be9940488d47ca963283061aa646979fc9

A new release will be available soon.

[2016-06-22 07:58] sacry-dyn commented on #40
@lborie fixed and released in https://github.com/phrase/phraseapp-client/releases/tag/1.1.18

[2016-06-23 08:17] #40 closed

[2016-08-03 10:02] vanniktech opened #44 "Delete translation by key"
Is there any way to delete a translation from the CLI by a key?

Let's imagine I have the key `cancel` and I want to delete it in all locales on a given project, how would you do that with the CLI?

[2016-08-03 10:25] sacry-dyn commented on #44
You would use the key#destroy action:

https://phraseapp.com/docs/api/v2/keys/#destroy

e.g.

`phraseapp key delete <project_id> <key_id>`

You can get the `id` by either going to the key in the Translation Center or by searching the keys via

https://phraseapp.com/docs/api/v2/keys/#search

e.g.

`phraseapp keys search <project_id> --query 'mykey*' `

Does this answer your question?

[2016-08-03 11:09] vanniktech commented on #44
Wow that's amazing and yes it does. Thank you also for the fast reply.  Feel free to close this one.

[2016-08-03 11:29] sacry-dyn commented on #44
@vanniktech Great! 👍

[2016-08-03 11:29] #44 closed

[2016-09-12 17:44] bdorfman opened #47 "Client doesnt update translator notes"
I'm using the phraseapp command line client to upload .strings files generated from an iOS Xcode project to Phrase. However, it doesn't seem to update any translator notes that changed, and as such there are now a bunch of strings in our Phrase project that incorrectly say "No comment provided by developer". I have `update_translations: true` set in my yaml file.

[2016-09-13 09:10] sacry-dyn commented on #47
Hi, this is an issue that is not connected to the client. We currently do not update descriptions on key updates, only on key creation or if you manually edit them in PhraseApp. We will think about possible solutions to this, as this is currently not possible to edit them directly via API. The only possibility I see is that you grep key_name and description and match it with the keys in the API vi

[2016-09-13 17:22] bdorfman commented on #47
This seems like a fairly major problem, as accurate developers notes are essential to the translation process. Manually duplicating all our note edits one at a time in the web interface is not really a practical replacement for this functionality.

[2016-09-14 14:52] sacry-dyn commented on #47
We will look into it and think about possible solutions that do not break existing behaviour. We can keep this issue open and resolve it when we find possible solutions. However we cannot change anything about the PhraseApp Client that could deal with this issue.

[2016-09-21 18:14] tomhamming opened #48 "phraseapp CLI crashes during Xcode build"
I've got the `phraseapp` CLI client running as part of my Xcode build process to download strings automatically. Running in Xcode 8 on Sierra, once in a while I get a build error "Unexpected signal during runtime execution." It appears to be the phraseapp client. I see this in my build log:

[2016-09-22 07:55] sacry-dyn commented on #48
Hey,

thank you for reaching out. We will look into it.

[2016-09-26 10:11] sacry-dyn commented on #48
@tomhamming do you have anything other to go on? It looks like from the stacktrace that we receive some kind of exit code from unix:

[code]

and that it is raised

[code]

The other routines work as expected and do not raise anything currently. We would need to get a much more detailed picture on those events, e.g. what happens on the OS/server when the client crashes.

[2016-09-26 14:43] tomhamming commented on #48
@sacry-dyn I've copied all the build output that looks relevant into this issue. What else should I look for / what kinds of things do you think could be relevant?

I do also see this line in the log, which I don't think I saw before...

[2016-09-28 15:58] sacry-dyn commented on #48
Hi,

this is an error that normally comes up if SSL certificates expire or invalid (often invalid root CAs). If this is something that does not concern you, you are able to set an ENV variable (documented here https://phraseapp.com/docs/developers/cli/usage) to

[code]

[2016-10-11 22:59] bdorfman commented on #47
Any update on this? It is making it extremely frustrating to use with an iOS project, and I assume other people trying to use Phrase with the iOS apps are having similar issues. If it is a Phrase API issue and you somehow cannot communicate internally in the company, is there somewhere else I should post this issue so the API team can see it?

[2016-10-12 07:20] sacry-dyn commented on #47
Hi, the problem was already communicated and we are going to resolve this in the near future. We will probably go with an approach where you set an extra option `--update-descriptions=true` and the descriptions will be overwritten with the local ones.

[2016-10-13 10:48] sacry-dyn commented on #48
@tomhamming this could be an issue with Xcode 8 on Sierra. We rebuild the client with the newest go 1.7.1 version in https://github.com/phrase/phraseapp-client/releases/tag/1.2.2 it was reported that the unexpected signal issue occurred on Sierra. Maybe this will help you.

[2016-10-13 22:46] tomhamming commented on #48
@sacry-dyn cool. I've updated my phraseapp CLI from Homebrew to 1.2.2. I'll let you know if I see further issues.

[2016-11-03 10:31] sacry-dyn commented on #48
will close this for now. If anything pops up feel free to reopen.

[2016-11-03 10:31] #48 closed

[2016-11-15 13:21] sacry-dyn commented on #47
@bdorfman we added the possibility to update-descriptions via form and API. The latest phraseapp-client: https://github.com/phrase/phraseapp-client/releases/tag/1.2.3

It can be used like this:

[code]

Note, this does update all descriptions. This overwrites existing and empty descriptions with new ones. This also updates empty descriptions with existing ones in phraseapp.

The endpoint and param

[2016-11-17 12:08] #47 closed

[2016-12-06 08:01] sauerbraten opened #57 "fix --host default in wizard"
default value for --host command line parameter is different in wizard compared to e.g. "translations list"

[2016-12-14 12:32] fredv opened #60 "Client returns error on intentionally empty file"
If a format does not require content - until there is one, such as Localizable strings, the `push` command currently returns an error.

[code]

This could maybe be a notice instead of an error in that case.

[2016-12-15 13:59] theSoenke opened #62 "Error message for pull command when filtering by tag that does not exist"
When pushing a locale with a tag specified and the tag does not exists the upload fails with:

`ERROR: 404 - Resource Not Found`

Error message does not explain the reason for the upload failure. Showing the reason for the failure would make it simpler to find the problem

[2016-12-16 08:58] tobstarr commented on #62
@alexanderwilling could you have a look at this?

[2016-12-19 09:07] alexanderwilling commented on #60
So, you suggest making this a warning instead of an error in general? Or just for specific formats?

[2016-12-19 09:45] alexanderwilling commented on #62
So, I just tested this.

`.phraseapp.yml`:
[code]

`config/locales/en.yml`:
[code]

I deleted all tags and all keys in the project, then did a `phraseapp-client push`, and only got `Uploaded config/locales/en.yml successfully.` The tag `batman` shows up in the web interface and `nananana` has both the `batman` tag as well as a tag for the upload attached:

[code]

[2016-12-19 13:50] #57 closed

[2016-12-20 09:09] alexanderwilling commented on #62
So the problem was actually about `pull`, i.e. downloading a locale, with filtering by a tag that doesn't exist in the project. Since the API doesn't send more information than the `404` and an HTML-formatted stack trace.

A workaround would be to 'manually' check if the tags exist before using them as a filter in `locales/download`.

@theSoenke @tobstarr I'd like to put this on hold until the API

[2016-12-20 09:19] alexanderwilling opened #63 "fix version caching in temp file"
version caching is not working on Windows

[2016-12-20 11:09] tobstarr commented on #62
@alexanderwilling is there already a ticket for "better error messages from the API"?

[2016-12-20 11:16] alexanderwilling commented on #62
Yup.

[2016-12-20 12:54] alexanderwilling commented on #60
This appears to be a server-side issue. The client only prints the error message it received from the API:

Empty file upload:
[code]

Response:
[code]

[2016-12-20 12:57] #60 closed

[2016-12-20 13:43] theSoenke commented on #62
@alexanderwilling sounds good to me to wait until there are better error messages from the API

[2016-12-21 11:07] tobstarr opened #66 "migrate `if Debug` towards a debug logger"

[2017-01-02 16:36] sacry-dyn opened #67 "Current release has no docs and client revision"

[2017-01-06 10:00] #63 closed

[2017-01-23 12:06] #67 closed

[2017-01-23 12:59] lborie opened #75 "Runtime Error with release 1.4.0"
Hello,

Since the release 1.4.0 (everything was OK with 1.3.0), we have a _Runtime Error_ when we use **phraseapp_linux_amd64** binary.

Here's the exact message :

Development environment :

Thank you !

[2017-01-23 13:01] sacry-dyn commented on #75
@lborie thank you for reaching out we will look into it.

[2017-01-23 13:02] sacry-dyn commented on #75
@lborie Could you also show us your configuration file? (without any ids). Does this error come up in general or just with certain commands?

[2017-01-23 13:06] lborie commented on #75
I can share you my .phraseapp file, but this is a general error. If I launch only the binary, without any parameter, it will display this message too.

[2017-01-23 13:15] sacry-dyn commented on #75
@lborie okay. It might be better if you send us your configuration via support at support@phraseapp.com or the form https://phraseapp.com/contact . Credentials and or ids should never be published.

[2017-01-23 13:16] tobstarr commented on #75
@lborie I just downloaded that very version and tested it locally (with fedora 25 and 4.9.3-200.fc25.x86_64) and do not see your issue.

I would also guess that this is related to your config file (the config file in your current directory is parsed automatically even without you providing anything).

Can you verify if you also run into that issue when you run the cli tool from e.g. `/tmp`?

[2017-01-23 13:26] lborie commented on #75
I will send you an email with my conf.
**BUT** I have also this issue when I run from a folder without any .phraseapp.yml, and everything was fine with 1.3.0

[2017-01-23 13:36] lborie commented on #75
A last comment, if it can help :
All the team is behind an http proxy, and I can't test without it.

[2017-01-23 14:05] tobstarr commented on #75
@lborie I created a specific version of the client which prints out more debug information and uploaded it to https://phraseapp-client-releases.s3-eu-west-1.amazonaws.com/debug/phraseapp-panic-test

You could download that, then `chmod a+x phraseapp-panic-test` and run the command again.

I also pushed the changes to a branch `https://github.com/phrase/phraseapp-client/tree/panic-test` from which

[2017-01-23 14:06] tobstarr commented on #75
@lborie the output should not contain any sensitive information so I would ask you to just paste it here. Thank you very much!

[2017-01-26 08:36] sacry-dyn commented on #75
@lborie have you had the time to send us your configuration? We tried a couple of false or bad configurations on our Linux systems and they do not (at least in general) seem to break. It would be nice to know what the problem with your specific configuration was, to get a clue on what went wrong.

[2017-01-26 10:45] alexanderwilling opened #76 "Client should show error/hint when trying to pull non-existent locale"
Users get no output at all when they have a locale ID in their configuration file that doesn't exist in their project and try to use the `pull` command. We should print an error or a warning for each locale when this happens.

[2017-01-30 10:52] alexanderwilling opened #79 "nil pointer dereference in update checking"
From bugsnag:
[code]

The problem is `getLatestVersion` dropping the error of calling `getLatestVersionFromCache` and always returning `nil` as `err`, even when `version` was `nil`, too.

[2017-01-30 15:20] benlacey opened #81 "Region-specific languages use wrong Android resource specifier"
Using the configuration example from the [phraseapp init](https://phraseapp.com/docs/developers/cli/configuration/#init) documentation to download Android strings.xml files, any region-specific language like en-GB does not get downloaded to the proper language-specific folder that Android expects:

Expected: `Downloaded en-GB to ./res/values-en-rGB/strings.xml`
Actual: `Downloaded en-GB to ./res/v

[2017-01-31 07:37] tobstarr commented on #79
For these kind of scenarios I would recommend to use three parameters as return values,

[2017-01-31 07:39] tobstarr commented on #79
I would say we should explicitly add a third boolean parameter to all actions returning a semantic version which marks if it is a valid result (that is != nil) to not rely on people remembering that they can get `nil, nil` as a result.

[2017-01-31 08:17] alexanderwilling commented on #79
Nono, returning `nil, nil` should never happen. It happened in this case, which is why I opened the issue and PR #80. After that, if `err == nil`, then `version != nil`.

[2017-01-31 09:25] tobstarr commented on #79
then I would stuck with `return version, nil`, opinion on that?

[2017-01-31 09:25] tobstarr commented on #79
this will also make the intend clearer

[2017-01-31 10:18] sacry-dyn commented on #81
@benlacey thank you for reaching out. The PhraseApp Client is a more generic way to specifying all different configuration formats that are out there. You can easily edit it after the `init` like you described. The feature you are describing is part of our AndroidStudio plugin

https://github.com/phrase/phraseapp-AndroidStudio

[2017-01-31 10:21] alexanderwilling commented on #79
Oh yeah, now I get it, you're right. I updated the PR here: https://github.com/phrase/phraseapp-client/pull/80/commits/3853b025de1a74db0fc7ed79be7e970f38ef17b8

[2017-01-31 10:23] #79 closed

[2017-01-31 10:56] benlacey commented on #81
@sacry-dyn That makes sense, thanks.  We're using Xamarin instead of Android Studio, so the plugin isn't an option, but the cli is working fine with the manually specified config so I'm happy for this to be closed - thanks for the explanation!

[2017-01-31 10:56] #81 closed

[2017-02-01 08:27] rollbrettler opened #82 "Getting syntax error when executing cli tool"
Iam currently getting the following error message when trying to use the cli tool

[code]

Tested it on OSX and linux with the latest 2 versions.

[2017-02-01 08:48] rollbrettler commented on #82
My mistake

[2017-02-01 08:48] #82 closed

[2017-02-03 15:29] dimalinux opened #84 "how to separate access token"
The .phraseapp.yml files can get quite complicated, so I'd like to put them in source control, but having the access token in them prevents me from doing so.  Making developers pass the access token on the command line is also cumbersome.  Could we get a way to specify the access token separate from the project specific .phraseapp.yml  files?  (e.g. From a separate file in user's home directory or

[2017-02-03 16:43] docstun commented on #84
You should be able to set this via the `PHRASEAPP_ACCESS_TOKEN` env variable as documented here: https://phraseapp.com/docs/developers/cli/usage/#authentication-using-access-token

Does that do the trick?

[2017-02-03 16:56] dimalinux commented on #84
That worked great.  Thank you!  Sorry for missing that in the manual!

[2017-02-03 16:56] #84 closed

[2017-02-15 12:38] nexeck opened #86 "phraseapp cli client behind proxy"
I am not able to use the phraseapp client behind a proxy:

[code]

[code]

[code]

It looks like the app is ignoring the proxy and just tries to connect directly to: 192.30.253.112:443

[2017-02-20 11:02] tobstarr commented on #86
@nexeck we are only using the `HTTPS_PROXY` env variable if you also provide `PHRASEAPP_INSECURE_SKIP_VERIFY=true` (see https://github.com/phrase/phraseapp-client/blob/7a3f83980a97c44ad447001a0a0ff1bee344d6bd/client.go#L18-L20). In that case your connection should go through the configured proxy but `the server's TLS certificate chain is not verified!`. That means you would be vulnerable to a man-

[2017-02-20 11:48] nexeck commented on #86
@tobstarr The HTTPS_PROXY env variable is also set:

[code]

[2017-02-20 13:54] dlein commented on #86
For the Windows client behind the same proxy I have to wait about 40 s each for pulling and pushing. There is an error message, but it works anyway. Maybe that helps for debugging the linux issue?

[code]

[2017-02-20 14:40] tobstarr commented on #86
@nexeck what are you using as a proxy server? will try to setup a proxy locally to debug the issue myself.

[2017-02-20 15:01] nexeck commented on #86
@tobstarr locally i am using: squid > 3.5.12-1ubuntu7.3

squid config:
[code]

[2017-02-21 08:29] serggl opened #87 "YAML Merge syntax is not supported for the localization files"
This is more likely a feature request, but currently Im facing this as a bug, so I would like to post it here.

Im using PhraseApp for the Rails app and Im uploading translations in `yml` format and Im using YAML merge syntax (http://yaml.org/type/merge.html) to structure my texts and to avoid copy-pasting.
Here is a sample:
[code]

This should be translated with YAML parser to:
[code]

But this i

[2017-02-21 08:48] docstun commented on #87
PhraseApp does not support YAML merge syntax, since this would cause quite some issues along the way. You would end up with duplicate keys in PhraseApp which is probably not what you want at all. Instead we recommend to get rid of the duplicate keys (or replace merge syntax with actual keys).

However I have noted your request and you will be notified once we're able to provide a better solution f

[2017-02-21 08:48] #87 closed

[2017-02-21 09:42] sacry-dyn commented on #75
@lborie If there are any updates on this or further help is required, please reopen this issue.

[2017-02-21 09:42] #75 closed

[2017-02-21 09:43] sacry-dyn commented on #76
#85 should fix this

[2017-02-21 09:43] #76 closed

[2017-02-22 08:10] tobstarr commented on #86
@nexeck I am sorry to inform you that I failed to reproduce your issue locally. What I did was this:

* run squid in a docker container using my local network interface: `docker run --net=host --name squid sameersbn/squid`
* monitor the logs of that container: `docker exec squid tail -f /var/log/squid3/access.log`

Then I tested the client doing this:

	export HTTPS_PROXY="http://localhost:3128"

[2017-02-22 15:50] #62 closed

[2017-02-24 09:06] nexeck commented on #86
@tobstarr
Thank you for your feedback.
I have tried the following:

[code]
Result:
[code]

I am going to try to debug this the next days with another System.

[2017-02-26 19:42] nexeck commented on #86
I can reproduce your results on another system.
And i can reproduce you results on another network with the "not working system".

Will try again in the corporate network.

[2017-02-28 13:37] nexeck commented on #86
@tobstarr

This is strange.

Given:
- System1: with Docker Squid (Like your Example)
- System2: with local Squid (Corporate System)

Steps i have done:
System1:
- Works with docker squid

System2:
- Does not work with local and docker squid (Corporate Network)
- Move System2 into private Network, works with local and docker squid
- Move System2 back into Corporate Network, works with local squid
-

[2017-03-01 13:46] tobstarr commented on #86
@nexeck we were actually able to locate the issue (the version check was not going through the proxy) and @theSoenke provided a fix I just merged with PR https://github.com/phrase/phraseapp-client/pull/88

This will go into the next release we will probably release in the next days.

If you want to use the feature before you could just build the client yourself from our master branch. If you alrea

[2017-03-08 11:22] alexanderwilling commented on #86
fixed in https://github.com/phrase/phraseapp-client/commit/474e4696080de9cad000c22a6ca2c99ccc04bbfc and thus [version 1.4.3](https://github.com/phrase/phraseapp-client/releases/tag/1.4.3)

[2017-03-08 11:22] #86 closed

[2017-03-08 12:14] alexanderwilling opened #91 "allow ** globbing operator at beginning of relative path"
`**/<locale_code>.yml` should work

[2017-03-08 12:17] alexanderwilling opened #92 "use old globbing / placeholder resolving tests again"
https://github.com/phrase/phraseapp-client/blob/master/push_pattern_test.go

[2017-03-08 17:20] citysite102 opened #93 "Params 'tags' seems not working with 'phraseapp push'"
.phraseapp.yml setting as follows:

`push:
    sources:
    - file: ./Demo/da.lproj/demo.strings
      params:
        file_format: strings
        locale_id: <locale_id>
        tags: Demo___da.lproj___demo.strings
        update_descriptions: true
`

With the above configuration, new key within file demo.strings can be successfully added but the tag won't associate with the new added key.

[2017-03-09 09:44] sacry-dyn commented on #93
Hi @citysite102 ,

the configuration looks okay. So the point here is that `update_descriptions: true` only updates the descriptions on the keys (and essentially nothing else). In this case you will need to combine this with `update_translations: true`. The problem with update_translations: true would be that all keys (including old ones that are in the file) will get tagged by  `Demo___da.lproj__

[2017-03-09 13:25] alexanderwilling commented on #92
the old tests test both globbing and placholder resolution, I'll have to split those (or might have already done so)

[2017-03-09 13:28] #91 closed

[2017-03-09 13:52] alexanderwilling opened #94 "globbing: certain characters & paths may break on windows"
On Windows, '?' and '[a-z]' cannot be escaped and will be interpreted by `filepath.Glob()`. We might have to write our own replacement for filepath.Glob.

[2017-03-16 10:22] sacry-dyn commented on #93
Hi @citysite102

we fixed this in our app and you should be able to use `update_descriptions` without the `update_translations` flag while still tagging newly created keys. If anything else comes up or the current state does not work as you thought, feel free to reopen or submit another issue.

[2017-03-16 10:22] #93 closed

[2017-03-23 16:43] #92 closed

[2017-04-05 14:01] tobstarr opened #98 "Regexp issue on Windows"
There is an issue when using regexp patterns on windows because the windows path seperator here https://github.com/phrase/phraseapp-client/blob/master/internal/placeholders/placeholders.go#L62 acts as a escape character in the regexp.

[2017-04-06 07:20] sacry-dyn commented on #98
This seems to be related https://github.com/phrase/phraseapp-client/issues/94

[2017-04-20 17:14] theSoenke commented on #98
Resolved in https://github.com/phrase/phraseapp-client/pull/100

[2017-04-20 17:14] #98 closed

[2017-05-17 08:34] antonpaisov opened #101 "snaps for Linux"
hey there,
I wonder if you have considered packaging the CLI app in a snap and distributing it via https://snapcraft.io/?
would be really cool to have a homebrew-ish way of installing it on Linux :)

[2017-05-18 15:05] sacry-dyn commented on #101
Hi @antonpaisov thank you for reaching out. We will discuss this and come back to you! Definitely considering it, though there a few things that we might do first (regarding the client).

[2017-05-24 07:41] tobstarr commented on #101
Hi @antonpaisov. Providing snaps is a good idea but currently not on our roadmap. I will close this issue for the time being and reopen it when things change on our end.

[2017-05-24 07:41] #101 closed

[2017-05-24 09:18] antonpaisov commented on #101
@tobstarr, @sacry-dyn sure! I'll try to submit a PR with a yml for snapcraft when I have time, so you'll be the owners of that snap (I believe configuration there is quite simple)

[2017-07-04 08:28] #66 closed

[2017-08-09 10:13] ricardolyn opened #104 "phrase pull by specific tag"
Hey,

I know that `phraseapp pull` uses the yml, but sometimes I want that based on the YML configuration, pull only this specific tag (appended to the YML one) without pulling all strings or changing the YML for this, using the same files and not dividing by features.

If we divide by files, it will be a complicate configuration and number of files, as there are several teams with several feature

[2017-08-10 07:21] tobstarr commented on #104
Thank you for contacting us, we will get back to you soon

[2017-08-24 19:14] delolmo opened #105 "Add download link for latest release"
Could you create a download link for the latest release of the API client?

E.g. "https://github.com/phrase/phraseapp-client/releases/download/latest/phraseapp_linux_386"

I am trying to deploy server instances automatically in Amazon Web Services and it would be useful to be able to use the wget command without knowing the version number.

[2017-08-28 06:35] tobstarr commented on #105
Hi,

I don't think github provides an option to create a symlink to the most recent release but you could use a simple script like this:

[code]
to get the most recent download url. You would need to install jq (https://stedolan.github.io/jq/) on your servers though.

I still recommend to use a specific version number as we might change the interface of the CLI tool some time in the future (and th

[2017-08-28 06:35] #105 closed

[2017-11-18 14:48] Sicaine opened #110 "documentation is unclear how phraseapp handles paging"
Hi,

i'm using phraseapp cli to download all locales first, than with the locale the translations.

I happend to have more than 25 locales and the cli returned only 25.

I added manually the --per-page 100 option but i'm not aware at all how i would handle this in bash.

I could make a for loop, count from 0 to "until phraseapp cli returns nothing anymore" but:

1. there is no mention of any 'best

[2017-11-22 08:36] tobstarr commented on #110
Thank you for reporting the usability issue. I will talk to your customer success team and see if I we can improve the documentation (and maybe provide a good example for your use case).

My first idea would be to use something like this in bash:

[code]
but that would require ruby for extracting the last page because I could not make no-greedy regexps work with grep.

My advise would be to use a

[2017-11-22 08:36] #110 closed

[2017-12-14 16:37] talisman027 commented on #82
@rollbrettler: How did you solve the problem? What was the mistake?

[2018-01-11 16:08] ddfreyne opened #112 "Crash when GitHub is down"
Running `phraseapp pull` when GitHub is down yields the following:

[code]

Naïve thought: Could it be that the response’s HTTP status code is not verified when checking whether or not this release is the most recent? If it’s 5xx, it might still try to fetch the version from the response body and end up with null, hence the error?

[2018-01-12 07:00] tobstarr commented on #112
@ddfreyne thank you for reporting the issue. We will fix this in our next release

[2018-01-12 07:14] tobstarr commented on #112
@ddfreyne could you please provide us with the output of
[code]
We received some panic backtraces yesterday but those are from an outdated client.

[2018-01-12 08:47] ddfreyne commented on #112
We were running an older version (1.4.0 < 1.6.0), and upgrading it made the problem disappear. Apologies!

`github.com` being unavailable no longer causes a panic:

[code]

I’ll close this issue!

[2018-01-12 08:47] #112 closed

[2018-01-12 09:48] tobstarr commented on #112
:+1:

[2018-02-10 21:18] MiMo42 opened #114 "Missing a macOS installer package"
You should really provide an installer package on macOS.
*.dms and *.tar files are uncommon with macOS.
You should provide releases in common file formats like dmg, pkg, zip.
An installer would be great.

brew install works though.

[2018-03-16 08:53] Byron-TW opened #115 "Releases do not work with alpine"
The current releases seem to be built for debian, which makes it impossible to use them with alpine.
A possible solution is to provide MUSL builds instead, which produces a binary running on all moderately modern linux kernels.

### How to reproduce

[code]

[2018-03-16 14:17] theSoenke commented on #115
Hi @Byron-TW thanks for reporting it. As a quick workaround you could build the client from source to ensure that MUSL is used. With go installed you can build it simply by running `go build`. Would this work for you?

[2018-03-19 08:11] Byron-TW commented on #115
Thanks, this will certainly work. Yet I encourage you to either cross-compile for all the linuxes out there, or just provide a single MUSL binary to catch them all.
This makes it much easier to use it within build environments for example.

[2018-03-21 08:39] theSoenke commented on #115
Thanks for the feedback. For the next release we will try to provide a binary that also works on alpine. The solution might already be to disable CGO
`CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' `

[2018-03-21 09:51] Byron-TW commented on #115
Great to hear, thank you! Indeed, doing it like this is the Golang way, I
was still thinking Rust-lang for some reason :D!

On Wed, Mar 21, 2018 at 9:40 AM theSoenke <notifications@github.com> wrote:

[2018-03-29 09:43] gbrehmer opened #116 "Support Rate Limiting & Retry"
We have a lot of files to upload because we split up each ui module/page/functionality in a seperate files. We can not upload all files at once. Currently we receive HTTP 502 Bad Gateway or rate limiting errors.

[2018-03-29 10:51] gbrehmer opened #117 "Bug: using tag variable inside push config will tag all keys with all tags"
my config

[code]

console call:

[code]

[2018-03-29 12:48] #117 closed

[2018-03-29 12:49] gbrehmer commented on #117
It seems, that json files were "corrupted" on our side, because pulling all files w/o using the tag feature has createt all files with all keys inside.

[2018-04-03 10:23] theSoenke commented on #116
Hi @gbrehmer, could you write us a short message over our [contact page](https://phraseapp.com/contact)?  Then we will try to find a solution for this. Thanks

[2018-04-05 18:14] peterbetos opened #120 "PhraseApp CLI is a false positive malware, according to Symantec"
We seem to receive a false positive on Symantec for the Windows CLI. Please see screenshot below.

![errorinstallation](https://user-images.githubusercontent.com/3241327/38383849-29ff961e-3940-11e8-9d63-8ad01edbe403.JPG)

We are not on authority to mark the application as a false positive since our workstation is inheriting the server policy. Can you check if this can be addressed?

[2018-04-06 09:29] theSoenke commented on #120
Hi @peterbetos thanks for reporting it. I will look into and check what we can do about this

[2018-04-06 10:16] theSoenke commented on #120
Could you maybe send me the version you are trying to use? Are you using the latest version 1.6.1?

[2018-04-06 13:33] jcurtis opened #121 "brew upgrade phraseapp: Error: SHA256 mismatch"
Had 1.6.0 installed correctly using brew.

[code]

Now running `brew upgrade phraseapp` produces a SHA256 mismatch error:

[code]

[2018-04-06 13:54] skreis commented on #121
Related: https://github.com/phrase/homebrew-brewed/issues/8

@docstun I believe you've approved the PR for the breaking change, could you kindly have a look?

[2018-04-06 14:30] sginn opened #122 "Support uploading files from babel-plugin-react-intl"
We use react-intl in our web and react-native apps to handle localization.

Since react-intl v2, the recommended extraction tool is babel-plugin-react-intl, which traverses our src and finds the localizable strings and extracts them into a series of json files, mirroring our source tree.

[code]

It would be great if phraseapp could import these files directly.

In the meantime (in case it's helpf

[2018-04-06 15:36] theSoenke commented on #121
@jcurtis This should now be resolved. Thanks for your patience!

[2018-04-06 15:36] #121 closed

[2018-04-09 14:09] theSoenke commented on #115
The latest release [1.6.1](https://github.com/phrase/phraseapp-client/releases/tag/1.6.1) now should be fully static and not rely on any C standard library

[2018-04-09 14:10] #115 closed

[2018-04-10 06:45] peterbetos commented on #120
The Virus Definition on our workstations is up to date. Please see screenshot below:

![symantec](https://user-images.githubusercontent.com/3241327/38540158-8aa1204c-3ccd-11e8-8994-764c1d139e57.JPG)
Can you check why the executable is classified as WS.Reputation.1 score on Symantec?
https://www.symantec.com/security_response/writeup.jsp?docid=2010-051308-1854-99

Is this something that needs to be

[2018-04-11 11:13] theSoenke commented on #120
I just got a confirmation from Symantec that the file will be whitelisted. According to them it takes up to 24 hours until it is whitelisted via Live Update

[2018-04-11 13:46] peterbetos commented on #120
Thanks. We'll leave this open till tomorrow until it's reflected that the CLI is whitelisted. :)

[2018-04-13 03:57] peterbetos commented on #120
I am now able to download the .exe file correctly. Closing this. Thanks.

[2018-04-13 07:37] theSoenke commented on #120
Great. Thanks for the confirmation!

[2018-04-22 17:49] francois2metz commented on #115
Thanks for fixing this. I updated my dockerfile to remove the workaround around this. https://github.com/francois2metz/phraseapp-docker

[2018-04-26 09:48] vpusher opened #123 "iOS strings files are downloaded with charset UTF-16be (binary)"
When doing a simple **phraseapp pull**, the `.strings` files are downloaded with charset **UTF-16be**, which makes the files seen as binary files by the system.

They should be text files as XCode generates them with proper charset.
This is a blocker for me since I do some text manipulation on the `.strings` files using bash commands after pulling them.

Even worse, it is breaking the encoding at

[2018-04-27 07:37] theSoenke commented on #123
When downloading a locale it is possible to choose the [encoding](https://phraseapp.com/docs/api/v2/locales/#download). For example you could use UTF-8 in this case. The config could look like this:

[code]

Let me know if you have any further questions

[2018-04-30 08:12] theSoenke commented on #123
Glad to hear that it helped. The Client uses the same params as the API. For example here we have a list of all available params for download endpoint: https://phraseapp.com/docs/api/v2/locales/#download

[2018-04-30 09:31] #123 closed

[2018-06-11 14:15] tronje opened #126 "Misleading error message when config is badly formatted"
Consider the following snippet:

[code]

Otherwise correct, it is missing required indentation. When using such a config, the client generates the following error message:
`ERROR: This should not have happened: reflect: reflect.Value.Set using unaddressable value - Contact support: support@phraseapp.com`

Generating an error is obviously fine, but the error message is neither useful nor correct.
T

[2018-06-11 14:27] theSoenke commented on #126
@tronje Thanks for reporting it :) We should improve the error message here. In the meantime you could use VS Code and the [vscode-yaml](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml) extension to get a validation and autocompletion for .phraseapp.yml files

[2018-06-16 19:15] dragosv commented on #116
This also happens to me as well when uploading many files. I am getting 502 HTTP 502 Bad Gateway all the time

[2018-06-18 13:51] theSoenke commented on #116
@dragosv We resolved an issue today which resulting in an increased number of 502 status codes. Please let me know if you should still see this issue

[2018-06-25 15:25] dragosv commented on #116
Works now.

[2018-06-26 16:24] dragosv opened #132 "Need caching support"
Need to be able to only send the files that have changed, as if someone pushes 1000+ files daily, but most have not changed the push takes to long. Also this need to be a parameter on the CLI. Should also support retrieving only the files that have changed as well.

[2018-06-26 16:27] dragosv opened #133 "Need language filtering"
Need to be able to retrieve only the languages specified by the CLI, instead of all, so a parameter like --lang=fr,es or similar should be used. This will also improve PhraseApp compatibility with Serge.io (https://serge.io/)

[2018-06-26 20:05] dragosv commented on #133
This will also improve compatibility with other translation software CLI (Mojito, Zanata and a few commercial ones)

[2018-06-27 10:57] theSoenke commented on #133
Do you need this option when running `phraseapp pull`? Could you maybe describe your use case a little bit more in detail? You could also only specify e.g. fr and es in the `.phraseapp.yml` config file.

[2018-06-27 11:00] theSoenke commented on #132
Hi @dragosv, this is a good point. We also would like to improve the speed of the client when pushing a lot of files. Unfortunately we haven't really found a reliable way of doing this yet. For example even if the translation file did not change between 2 pushes it is still possible that someone has changed the translation on PhraseApp in the meantime.

[2018-06-27 14:46] dragosv commented on #132
As far I am concerned if you only push the changed files I am fine, as the pushed files should be less important than the translations. However, my proposal would be to try to determine if there are any changes on the server by using an etag versus the last performed translation and then push only if it is needed.

[2018-06-27 14:50] dragosv commented on #133
Yes, an option on the phraseapp pull is what I want as this would make transitioning from the other translation systems easier. Also, I want sometimes to only push/pull a single language, and do not want to have multiple yml files for it. And again this is something that serge.io supports and while I am implementing the PhraseApp plugin for it (https://github.com/dragosv/serge-plugins) I want this

[2018-06-29 11:17] theSoenke commented on #133
Thanks for describing your use case. We will definitely look into this but I don't know yet when this will be available

[2018-08-07 12:46] AgDude opened #137 "Format json output"
Any output printed to stdout should be human readable. This can be easily accomplished with pretty-printed json.

[2018-08-07 12:48] AgDude opened #138 "Accept project name instead of id"
Keeping track of uuids for multiple projects is a hassle. I realize we can store this in the yml file, but with any microsevice type architecture users need to frequently switch between and combine projects.

[2018-08-07 12:49] AgDude opened #139 "generate token on login"
Manually storing a toke is an extra painful step for new users. Since you support password login, there should be an option to generate and automatically store a token.

[2018-08-07 13:32] theSoenke commented on #139
@AgDude Thanks for your suggestion. Just to clarify. By storing you mean writing the file locally into a config file?

[2018-08-07 13:38] theSoenke commented on #138
That would be very useful. Currently, the API requires the project id and makes this a bit difficult to implement. But we will definitely look into this

[2018-08-07 16:55] AgDude commented on #139
Writing to the local yml file is what I had in mind. You might also consider putting another config file at the user level, so I could store a token which would be available across different projects.

[2018-08-14 16:30] Alexey-Matjuk opened #141 "Error when pulling update"
Today started receiving an error when pulling update (yesterday worked):
[code]
phraseapp client version is 1.8.0
macOS Mojave 10.14 Beta (18A365a)

[2018-08-14 18:16] theSoenke commented on #141
Hi @Alexey-Matjuk, could you try whether you can reach the host with `ping api.phraseapp.com` to make sure that a network connection is possible?

[2018-08-14 19:36] Alexey-Matjuk commented on #141
[code]

[2018-08-14 20:33] Alexey-Matjuk commented on #141
I just generated new token and tried
[code]
And received *401 Unauthorized*. But with basic authentication I'm able to receive valid JSON response.

[2018-08-15 06:44] Alexey-Matjuk commented on #141
I used wrong token Authentication in may last comment. But don't know if correct one was working or not. Because today client also started working and I'm closing this issue

[2018-08-15 06:44] #141 closed

[2018-08-15 08:25] theSoenke commented on #141
Thanks for the confirmation that it now works. Feel free to contact us anytime if anything should not work as expected

[2018-09-14 11:55] igodorogea opened #145 "Windows installer is outdated"
Installer downloaded from here https://github.com/phrase/phraseapp-client/releases/download/1.9.4/phraseapp_windows_setup.exe
is not latest version(1.9.4) but 1.7.4

[2018-09-14 12:19] theSoenke commented on #145
Thanks for reporting it. This will be fixed in the next release

[2018-09-18 08:46] theSoenke commented on #145
The Windows installer in the latest release 1.10.0 should now also contain the correct version number: https://github.com/phrase/phraseapp-client/releases/tag/1.10.0

[2018-09-18 08:46] #145 closed

[2018-10-11 06:51] iamandrewluca opened #148 "Tags parameter does not work on pull"
`.phraseapp.yml` configuration

[code]

I executed `phraseapp push --wait` and got the right results

[code]

When I try to pull (`phraseapp pull`) I get this error

[code]

As [docs](https://help.phraseapp.com/phraseapp-for-developers/phraseapp-client/configuration) states

**Note:**
locales#download link goes to <https://developers.phraseapp.com/api/#locales>
That does not exist. There is <https

[2018-10-11 06:54] iamandrewluca opened #149 "Inconsistent locale generation"
We are using TYPO3 CMS that uses `xlif` localisation files
In this file you have to indicate `source-language` and `target-language`

[code]

In PhraseApp dashboard I have a `default locale` with
Name: `English` and Locale: `English - en`
I push file showed above through `cli`.
In PhraseApp a new locale is created with
Name: `en` and Locale: `English - en`
And it seems is based on `source-language

[2018-10-11 08:14] theSoenke commented on #148
Hi @iamandrewluca, the client expects a comma-separated list of tags. For example: `tags: tag1,tag2`. A YAML array of tags is currently not supported by the client. Please make also sure that you are using the latest version of the client 1.11.1 when using multiple tags.

[2018-10-11 08:37] theSoenke commented on #149
Thanks for reporting this. This behavior is generally related to our upload and download behavior an not client specific. I forwarded you to our support team to resolve this

[2018-10-11 08:51] iamandrewluca commented on #148
@theSoenke Ok, I tried new syntax but no chance. I tried all of this, no one worked

[code]

First 4 cases I got this error

[code]

Last case error

[code]

If I use `tag` instead of `tags` and give more of them `"my_events,my_news", it tries to find a tag with this name `my_events,my_news`

Looked int ocodebase and no mention of `tags`, found only this

https://github.com/phrase/phraseapp-client

[2018-10-11 09:09] iamandrewluca commented on #148
Only push command has `tags` param as a comma separated list of tags that will be added to new keys

![image](https://user-images.githubusercontent.com/1881266/46792985-43e42080-cd4d-11e8-9996-9d2a27ac971b.png)

[2018-10-16 07:27] #148 closed

[2018-10-16 08:57] theSoenke commented on #148
@iamandrewluca The newest release should now support the `tags` parameter in placeholders correctly. Let me know in case you should still notice any issue https://github.com/phrase/phraseapp-client/releases/tag/1.12.0

[2018-10-16 08:57] #149 closed

[2018-10-16 09:29] iamandrewluca commented on #148
I updated to new PhraseApp binary. It seems it does not work. How version is checked from cli?
[code]
[code]

I also would recommend to trim tags when you split them by comma
[code]
Will try to search tag ` my_whitelabels` (with a space in front)

[2018-10-16 09:45] theSoenke commented on #148
Thanks for checking. The client currently does not support locale and tag placeholder in a single target. This is something I also would like to support but currently you can only use one of the placeholders

[2018-11-14 11:15] theSoenke commented on #104
Hi @walling, just to make sure I understand it correctly. Basically when you provide are downloading locales you want to add a tag like `phraseapp pull --tag mytag` and then the tag for all locale targets should be set to `mytag` correct?

[2018-11-14 11:34] walling commented on #104
@theSoenke Ok, maybe I misunderstood the original poster. Our use case is basically to be able to filter on a specific tag. Let's say we have the following configuration with multiple targets:

[code]

With `phraseapp pull` it updates all files and we need to use git to reset some of the files. Basically, it would simplify the process, if we could specify `phraseapp pull --tag react_zzz` and only

[2018-11-16 08:37] theSoenke commented on #104
Thanks for confirming that the approach with groups/specifying targets would work for you. I will further look into this and get back to you when I have any update

[2018-12-06 07:34] #116 closed

[2018-12-21 05:44] gfx opened #163 "[request] Add a newline at the end of files in `phraseapp pull`"
I've configured my text editors to add a newline at the end of the file on save.

However,  files organized by`phraseapp pull` does not have the ending newline, it always makes diffs; thus I'd like for `phraseapp` to add newline at EOF.

Thanks.

[2018-12-21 09:50] theSoenke commented on #163
Hi, how often would you say you have to manually edit and save the translation files in your editor? When translations are mainly updated through PhraseApp it would rarely be necessary to edit the file locally

[2019-01-21 14:46] gaetan-petit commented on #133
Agreed that would also massively speed up push.

[2019-02-12 08:47] GeroHerkenrath opened #168 "Feature request: Allow explicit exclusion of locales in CLI & its yml file"
This has come up in two other (now closed) issues, so I'll add a new request for this.
I'd really appreciate it if I could exclude specific locales from `push` and `pull` when using the CLI, at least when pulling. I could imagine something like this for the YAML config file:

[code]

The `exclude` part would be new, I wouldn't care much how the locale is specified there (it could also be the id, l

[2019-02-15 12:51] theSoenke commented on #168
Hi @GeroHerkenrath, thanks for your detailed explanation. This case seems to be very Android specific due to the required default strings file. How much of an issue is it for you to have the en translations two times in your app? The size should usually be negligible and the file `./app/src/main/res/values-en/strings.xml`. When you include both files there also would no need to manually delete the

[2019-02-15 13:12] GeroHerkenrath commented on #168
Hello @theSoenke, thanks for responding. Yes, this case is kind of Android specific and having two en-files is not that big of an issue. At the moment we manually checkout the branch PhraseApp creates when new translations arrive (for testing purposes), so we will probably just delete the second one manually anyway.

This request certainly does not have a high priority for us and neither should it

[2019-02-25 15:32] theSoenke commented on #168
Thank you very much for your great feedback! We appreciate it very much :)
There are definitely some cases where it makes a lot of sense to exclude some locales and I will add it to our internal feature requests for prioritization

[2019-02-26 08:32] theSoenke commented on #114
Hi, sorry for our late response on this issue. Do you still have any use for a MacOS installer? In comparison simply using brew has quite a few advantages like for example the update mechanism

[2019-02-26 08:39] theSoenke commented on #122
Hi, could you maybe have a look at our react-intl format documentation to check whether this might already help? https://help.phraseapp.com/supported-formats/react-intl-simple-json

[2019-03-20 07:41] gfx opened #169 "[request] Option to keep the order of keys, not sorting them"
Sorting keys in message files are bothering. It's awesome if there's an option to keep keys as is.

[2019-03-20 15:31] theSoenke commented on #169
Currently it is not possible to keep the sorting as we are not storing it from the original uploaded files. Could you maybe explain your use case for this a little bit?  That would help a lot

[2019-03-25 13:31] #122 closed

[2019-03-25 13:35] theSoenke commented on #163
Sorry for my late response here. If you edit the locale only locally you could only push this file but exclude it from the pull config. This way you would never get the added newlines. Would this be a possible solution?

[2019-03-28 01:38] gfx commented on #163
We sometimes pull message files and sometimes push them. Is the workflow not what you phraseapp expected?

[2019-03-28 08:54] theSoenke commented on #163
We don't require a specific workflow and this workflow should work fine. The only thing we cannot guarantee is that the formatting of the file is entirely kept the same when you edit it manually. For example sorting and this newlines case might change after a push and pull. What you could do for example would to run `phraseapp push --wait`. This will wait until the upload has been processed. Then

[2019-05-22 08:35] davidvavra opened #172 "Version 1.14.0 breaks replacing placeholders"
We are using replacing of placeholders during our `phraseapp pull`. We are replacing `%@` to platform-specific (`%s`). It was working until version CLI of 1.13.0. It no longer works in 1.14.0, placeholders are not replaced.

[2019-05-22 08:55] sp00ne commented on #168
Right now, this creates `values-en-US` for us since the locale is not just `en`. This causes a build error for our project and therefore not just icing ont the cake 🙁

[2019-05-22 09:13] theSoenke commented on #172
Hi, thank you for reporting it. We have found the root cause for this. This is related to the format specific options. We will release a fix as soon as possible. In the meantime I recommend to use version 1.13.0

[2019-05-23 09:19] sp00ne opened #174 "When branching, locales get new id's"
# Issue
I have a `phraseapp.yml` file that looks like this:
[code]

If I write `phraseapp push --branch test` , it will fail since the `locale_ids` will be different than that of the original branch. This does not seem to me as intended behavior, I have already specified the branch onto which I want to push, so why should I regenerate my .yml file for each branch?

I will fallback to the plain-tex

[2019-05-23 11:01] theSoenke commented on #174
Hi, this sounds indeed not like the intended behavior. I will check what is causing this and get back to you

[2019-05-23 15:55] theSoenke commented on #174
I had a closer look and currently locale ids do not work as you've described above. For now the workaround with a locale code or locale name is required. I will keep you updated when there is any news

[2019-05-24 07:03] sp00ne commented on #174
Sounds good, I fallback at using the locale name as you said. Looking forward to the fix 👍 Let me know if there is anything else I can assist with

[2019-06-04 15:22] sdurovich commented on #32
@docstun
Are there any updates regarding this issue? We faced with the same problem.

[2019-06-04 16:23] theSoenke commented on #32
Hi @sdurovich, unfortunately this has not been addressed in the API yet. I will look into it and let you know as soon as I have an update

[2019-06-20 07:37] sdurovich commented on #32
Hi @theSoenke
Do you have any news?

[2019-06-20 14:27] theSoenke commented on #32
@sdurovich Unfortunately not yet. I hope that we can tackle this very soon. This is one of the next tasks on my list

[2019-06-25 12:32] jackocnr commented on #163
I'm also experiencing this issue, where my translation files are in JSON format. Like the op, we mainly create new keys in the code (in our case in English), which we push up to Phraseapp for our translators to work on, but we also allow changes in the Phraseapp dashboard to the same English keys which we pull down to our code, so it needs to work both ways.

The thing is, in another project we us

[2019-07-04 12:26] theSoenke commented on #32
@sdurovich Is there a specific reason why you are using multiple `%@` placeholders instead of positional placeholders like `%1$@` on iOS? This would have the advantage that the placeholder is language independent. For example when one placeholder would be in a different position in some languages

[2019-07-10 12:25] zlatinivanov-je opened #177 "Aid installation automation on Windows"

[2019-07-10 19:16] theSoenke commented on #177
Hi, I'm not too familiar with Chocolatey yet. First I will have to take a closer look what it entails for building and releasing new version of the client. But I'm certainly open to adding it to Chocolatey if there are no larger issues. Will keep you updated when I had a closer look at it

[2019-07-25 09:25] sylfabre opened #178 "[Request] Pull all tags"
Usecase:
- I want to keep my folder structure as per https://help.phraseapp.com/en/articles/2136270-structuring-translations-how-to-keep-the-original-files
- I'm using tags on PhraseApp as equivalent to my Symfony domains
- I have one Symfony domain per view (so the translation file is not too big)
- So I have a lot of tags and I keep adding new ones
- I want to use the PhraseApp client in my CI/C

[2019-07-25 09:30] sylfabre opened #179 "[Request] Support Symfony locale code format"
I am using Symfony where locale code is using this format `fr_FR`

But using the client, `<locale_code>` gives this format `fr-FR`

Please add a way to support ISO/IEC 15897 like `<locale_code_iso>` giving `fr_FR`

Some context on Symfony repo: https://github.com/symfony/symfony/issues/28150

[2019-07-25 09:44] theSoenke commented on #179
Hi @sylfabre, a possible solution would be to use `<locale_name>` instead as a placeholder. This way you have full control over the name of the locale

[2019-07-25 09:49] sylfabre commented on #179
@theSoenke thanks. You may add this to your doc :)

[2019-07-26 08:32] theSoenke commented on #179
Great to hear that this already helped. I will have a look how we can make this a bit more prominent in the docs :)

[2019-07-26 08:32] #179 closed

[2019-07-29 14:27] theSoenke commented on #178
Thanks for the suggestion. Right now this is not possible. We will have a closer look at what it would take to add this

[2019-08-13 11:27] peterbetos commented on #120
Hi Team - Symantec tagged the latest [phraseapp_windows_amd64.exe](https://github.com/phrase/phraseapp-client/releases/download/1.15.0/phraseapp_windows_amd64.exe) as false positive again. :(

[2019-08-13 15:26] theSoenke commented on #120
Thanks for letting us know. I will try to report this to Symantec again so they can update their signatures

[2019-08-16 10:57] theSoenke commented on #120
I've submitted the binary to Symantec but they were unable to reproduce the issue

[2019-08-19 09:39] theSoenke commented on #120
@peterbetos Are you using `Symantec Endpoint Protection 12.x`  or `Symantec Endpoint Protection 14.x`?

[2019-08-20 08:25] peterbetos commented on #120
It's 14

![MicrosoftTeams-image (13)](https://user-images.githubusercontent.com/3241327/63330852-1c93b200-c367-11e9-9e62-b137bc98ebed.png)

[2019-08-23 13:38] theSoenke commented on #120
Thanks. That is interesting. I've reported the false positive for this version and got the message from above that they could not reproduce it. Not sure what we can do from our side about this

[2019-10-04 09:47] Arjan-Zuidema opened #182 "Misleading rate limit error"
Sometimes I get this in stderr:

[code]

This should not occur when there are 492 remaining of the 500, or it should always be outputted so it can be parsed and ignored if needed

[2019-10-04 11:39] theSoenke commented on #182
Hi, thanks for reporting this. This is indeed misleading and I will have a look why this is reported incorrectly

[2019-10-15 15:49] cjurjiu commented on #169
I would also find this useful - I'm developing Android apps.

The reason is that I tend to define my keys in a particular order - usually grouped by the screens in which some strings are used.

However, this order is broken by phrase when performing a push/pull, leaving me with my strings all scrambled.

[2019-10-24 08:25] MounirOnGithub opened #185 "Error not found on phraseapp push"
Hello there,

I'm using the phraseapp cli locally on a project with docker and when building in CI/CD it executes the `phraseapp push` command but I got an error saying

`ERROR: {"message":"Not Found","documentation_url":"https://developers.phrase.com/api/"}
`
Does someone know what I'm doing wrong ? I can't find any solution in the documentation sorry if  there is already one

PS : Also, congratu

[2019-10-28 21:23] MounirOnGithub commented on #185
It was an authentication error thank for replying this fast I'm closing the issue now

[2019-10-28 21:23] #185 closed

[2019-11-06 12:32] L-Delejon opened #187 "Xcode 11.2 support missing"
Hello,

You have to compile your SDK with Swift 5.1.2 and release it.

Best regards
Leo

[2019-11-06 12:34] theSoenke commented on #187
Hi @L-Delejon, this should have been addressed in the latest release: https://github.com/phrase/ios-sdk/releases/tag/1.2.2

[2019-11-06 14:14] L-Delejon commented on #187
Ah we see now, thank you!

[2019-11-06 14:14] #187 closed

[2019-11-13 09:13] chemitaxis opened #188 "Fusion two projects"
Hi team, we have two API projects that are currently two different projects in Phraseapp. We are in this moment migrating the two projects to one project, how can I combine / fusion the old projects to one new project on phraseapp? Thanks!

[2019-11-13 09:52] theSoenke commented on #188
Hi, this issue might go a bit beyond the scope of the client. Could you contact us via the chat on the website or at https://phrase.com/contact to discuss this?

[2019-11-13 10:51] chemitaxis commented on #188
Ok, I will... thanks!

[2019-11-13 10:51] #188 closed

[2019-11-26 11:47] tenjaa opened #191 "Provide official docker image"
Hey,
have you thought about providing an official docker image?
We are using one for CI/CD but have to patch it from time to.
Of course everyone has different needs what needs to be in there, but updating based on a docker image is probably easier than everyone building their own.

In our case for example we would use it to automatically update translations once per week. So quickly installing jq

[2019-11-26 17:28] theSoenke commented on #191
Hi @tenjaa, we've actually also discussed this internally before. We did not get around to publish a Docker image yet, but I will let you now as soon it should be available

[2020-01-21 10:19] phcannessondkt commented on #32
Hey guys, any update on this ?

[2020-01-21 18:02] theSoenke commented on #32
Hi @phcannessondkt, if you are using multiple placeholders I would highly recommend to use positional placeholders. This will solve the issue and also provide a guarantee that the order of the placeholders is still correct in translations. Let me know if that should not be possible in your case

[2020-03-19 15:19] Papashkin commented on #81
I have the same issue, but unfortunately the PhraseApp doesn't work correctly in Android Studio last stable version (for more information please check [this issue](https://github.com/phrase/phraseapp-AndroidStudio/issues/12)).
Code like this:
[code]

doesn't help me too.
What should I do?

[2020-03-19 15:32] theSoenke commented on #81
Hi @Papashkin, your example only includes the push part. But you are having trouble during pull right? To download the locales in the correct locations you can list the locales one by one with a custom path.

For example:
[code]

Then you can add multiple targets to pull for each locale.

Does this already help?

[2020-03-19 15:42] Papashkin commented on #168
I'm using  Brazilian Portuguese translation in Android, but here is difference between region locales in Phrase and Android: `pt-BR` in Phrase and `pt-rBR` in Android.
I know how to pull data with pt-BR locale to `values-pt-rBR` folder.
But also I receive after pulling the `values-pt-BR` folder, which crash my builds because incorrect style and Android doesn't understand it.
What should I do in th

[2020-03-20 14:17] theSoenke commented on #168
@Papashkin In case you've not already seen in the second issue before you can list the locales that should be pulled in your .phraseapp.yml config like this:

[code]

This way you have full control over which locales will get pulled

[2020-03-20 14:26] theSoenke commented on #120
@peterbetos Is there still an issue with Symantec and the client detected as a false positive? I'm closing this issue for now. But please let me know if it should come up again

[2020-03-20 14:26] #120 closed

[2020-04-01 12:26] carstenhag opened #194 "Feature request: Allow setting format_options globally, not per target"
Hello, for our apps we have one big .phraseapp.yml file. For each file, we currently have to set the  formatting options. I tried setting the format_options to the beneath the file_format parameter, but that did not work.

It would be really helpful if you could add this functionality :)

[code]

[2020-04-01 14:32] theSoenke commented on #194
Hi @carstenhag, it is possible to use placeholders in the file path. For example:
`file: ./app/src/main/res/values-<locale_name>/strings.xml`.

This way you only have to list one target for all locales with the same parameters. Could this already work in your case?

[2020-04-01 14:50] carstenhag commented on #194
Hey @theSoenke, thanks for the quick answer. I am not totally sure how this would work.

The locale names would have to be called "de" for example to get "values-de/strings.xml", right?

If so, sadly it doesn't fit our use case (or we would need to rename all 70+ locales) :/.

[2020-04-02 08:02] theSoenke commented on #194
Yes, the locale name will be inserted in place of the placeholder. Unfortunately that means that the locale names need to be called correctly.
`<locale_code>` is a second available placeholder but this only works if the locale code fits your use case

[2020-04-02 08:29] carstenhag commented on #194
Sadly it doesn't :(. For example `de-AT` would not work on Android, it needs to be `de-rAT`.

[2020-04-02 17:29] pacification opened #196 "`convert_emoji` doesn't work"
Looks like `convert_emoji` stopped to translate "markdown" to final emoji. For example: now  `:ghost:` is  just `:ghost:` not `👻`.

Tested on 1.16.1 and 1.17.0 versions.

[2020-04-03 07:41] rlisowski commented on #196
Hi @pacification
the `convert_emoji` flag has been deprecated a while ago and since 19/03/2020 is obsolete and ignored. From that date, we send the translation as is which means if you have  :ghost: in translation that's exactly what will be fetched by CLI client.
We can convert emoji shortcodes to actual emoji for you. If you want us to do it please contact customer support via https://phrase.com

[2020-04-03 07:41] #196 closed

[2020-04-15 10:24] jesuslg123 opened #197 "Exclude by tags"
Hello,

We are currently trying to split or translations files into smaller pieces, by each framework inside our proyect.

We have a set of translations that are shared across all the frameworks but others are specific for each framework.

We can use tags to download a subset of translations for each framework/target but the problem is that during the migration transition we would need to exclude

[2020-04-15 12:57] theSoenke commented on #197
Hi @jesuslg123, I can definitely see how excluding tags would be quite useful for some applications like in your case. Unfortunately the client does not support this yet and most likely we first have to add API support for excluding tags. I've created a feature request for this but I can't really promise yet when can get to this

[2020-04-15 13:05] jesuslg123 commented on #197
Thank you @theSoenke for taking it into consideration. I will keep on eye here to be up to date.

[2020-04-17 06:54] cjurjiu commented on #197
Came here to make the same feature request. We basically have the same use case as @theSoenke, and would greatly benefit from this feature!

Currently we're trying to make key tags mutually exclusive, but being able to say "I want to pull all strings tagged with `auth_module` but without those also tagged with `reset_password`" would make things easier for us.

[2020-05-11 10:04] MaxenceMax commented on #47
@sacry-dyn, this one is closed since a long time but is it really work ?   I tried it with the
[code]

but noting change when I'm trying to push locale
thanks !

[2020-05-13 11:54] ouchadam commented on #194
I had a similar issue and ended up using the api instead

here's the script I hacked together with `jq`

[code]

[code]

[2020-05-18 12:18] teresaholfeld commented on #81
Shouldn't this be a feature for the CLI?
For bigger projects with locales that change on a regular basis, being able to use the `<locale_code>` or some android variation of it would be really beneficial.

[2020-05-19 10:08] teameh opened #199 "iOS - Pulling and pushing plural strings dict creates a duplicate"
Pulling and pushing plurals with a strings dict creates a duplicate key with "||localized_key_format" appended.

I start off the following (plural) copy in Phrase:

<img width="582" alt="image" src="https://user-images.githubusercontent.com/1330668/82313550-cc668080-99c8-11ea-88c1-8a74940d63e3.png">

#### Pull
[code]

#### Result:
[code]

#### Push:
[code]

#### Pull again:
[code]

#### Result:

T

[2020-05-19 12:53] rlisowski commented on #199
@teameh thanks for the report, I added it to our backlog

[2020-05-21 08:05] cjurjiu commented on #199
@rlisowski also to jump in here...we're also encontering this issue and it breaks sharing strings between iOS & Android. `some_key||localized_key_format` is an invalid key for a string in Android. so we need to manually update the keys to remove `||localized_key_format` each time after pulling the strings.

would be highly appreciated for this to be addressed

[2020-05-21 09:02] juliagarrigos commented on #104
@theSoenke any update on this? We work with multiple teams and it would be very useful for us to be able to pull only certain tags.

[2020-05-21 09:53] teameh commented on #199
Yes, that is how we've found out about this too. I think this was introduced in the last version or the previous version of the cli, we had no problems with this before updating

[2020-05-22 07:18] theSoenke commented on #104
@juliagarrigos Sadly I don't have an update yet.

Could is issue also be resolved by having multiple config files? Because as I understand it only certain targets should be pulled. The `tag` parameter is actually not really required for this because the goal is to limit which targets are pulled, right? So multiple config files could each have a different set of targets

[2020-05-22 07:38] learnitmyway opened #200 "Pass project id as command-line argument for pulling and pushing"
Is it possible to something like `phraseapp pull --project-id $PHRASE_PROJECT_ID`. I would like to avoid checking in the project id into version control because this doesn't seem like the right thing to do.

[2020-05-22 07:52] theSoenke commented on #200
Hi @learnitmyway, this is currently not possible. A config file can also contain multiple project ids. May I ask why you want to not check in the project id into version control? This is not a secret and is only a randomly generated identifier

[2020-05-22 08:12] juliagarrigos commented on #104
@theSoenke yes, it is how we solved the problem for now, but that has its own issue because some of phraseapp features  that we would like to try (like github sync) and the AS plugin rely on having a single `.phraseapp.yml` file at the root of the repo.

[2020-05-22 11:15] learnitmyway commented on #200
Hmm I guess I was thinking of it more as a secret. If a bad actor had the
project id they would only have to guess the access token. If they didn't
have the project id, wouldn't they have to guess both?

On Fri, 22 May 2020, 09:53 theSoenke, <notifications@github.com> wrote:

[2020-05-22 11:20] rlisowski commented on #200
If someone has your access token then can simply list your projects and see all project ids.

[2020-05-22 11:24] theSoenke commented on #200
In any case an attacker has to guess the access token. Knowing the project id does not provide an advantage to a bad actor

[2020-05-22 11:30] theSoenke commented on #114
Currently we have no plans to provide a Mac installer. We might reconsider this in the future though

[2020-05-22 11:30] #114 closed

[2020-05-22 12:43] learnitmyway commented on #200
True! This helped, thank you!!

[2020-05-22 12:43] #200 closed

[2020-05-25 14:32] ffittschen commented on #199
We have the same issue. I get that Phrase adds the `||formatString` suffix when uploading `.stringsdict` files, because they need some way to "store" the format string so that pulling the translations will result in the same structure as the one that was pushed. But this should be a property in the data model of the key and not _part of the key_. This way it would also be possible to edit the `NSL

[2020-05-25 14:49] ffittschen opened #201 "Parallelize push and pull"
As far as I can see, `push` and `pull` currently [loop through](https://github.com/phrase/phraseapp-client/blob/master/push.go#L145) the `localeFiles` and upload each individual file after another. For us this takes roughly ~40 seconds depending on the internet connection. Could this be parallelized in a way to distribute the uploads / downloads across multiple threads/connections to speed this up

[2020-05-25 16:38] ffittschen opened #202 "Newlines in key descriptions are not respected when pulling in iOS .strings format"
Given I push a key with a multiline description, e.g.

[code]

The description ends up being multiline in the Phrase UI, but when I then pull it again, the downloaded file looks like this:

[code]

In the above example, this might not seem too bad – the only annoyance is the concatenation by `, ` instead of `\n` – but if the multiline comment is enclosed by more asterisks, the result is pretty bad

[2020-05-28 09:28] rlisowski commented on #199
I checked and it's API/upload problem, not a  CLI client problem. I can fix `||localized_format_key` problem for you but if you put any other format string there it will be used as usual. Also if you have `bla_bla||localized_format_key` key names you need to edit them to be `bla_bla` keys.

@ffittschen  I will request to get rid of `||formatString` from key names altogether and move it to editable

[2020-05-29 07:44] rlisowski commented on #199
@teameh let me know if it solves your issue

[2020-05-29 08:13] rlisowski commented on #202
@ffittschen I will take a look at it

[2020-05-29 08:16] teameh commented on #199
Yes, when pushing now I do not get the duplicate any more.

Regarding @ffittschen's comment. Is it possible using phrase to add multiple placeholders to a single Stringsdict entry?

And regarding the interface online. If I enter `bicycles` here:

![image](https://user-images.githubusercontent.com/1330668/83236824-721daa80-a194-11ea-8d5b-99c635a66536.png)

I expect the .stringsdict to look like:

[

[2020-06-08 15:23] ffittschen commented on #199
@teameh Do you mean using multiple variables in a plural entry, e.g. setting the `NSStringLocalizedFormatKey` to `%#@files@ (%#@bytes@, %#@minutes@)` as in the Stringsdict File Format you linked?

I would definitely be interested in that as well! Only allowing one variable (and only the variable) is quite limiting. The `NSStringLocalizedFormatKey` should be able to be translated as well and it sho

[2020-06-12 09:01] teameh commented on #199
No. Although that is also interesting, it's not what I mean.

I mean that when I enter `bicycles` here:

![image](https://user-images.githubusercontent.com/1330668/83236824-721daa80-a194-11ea-8d5b-99c635a66536.png)

I expect the .stringsdict to include that variable name `bicycles`:

[code]

Instead I get:

[code]

[2020-06-22 08:12] teameh commented on #199
@rlisowski the initial issue is back on the api, we have the same problem as before.

[2020-07-08 22:49] misterfresh opened #203 "[doc] is phrase.yml only used for push/pull operations?"
I added to the command "phrase translations list" the "--config" flag with a path to a phrase.yml file that contains the project_id variable.
But when I run that command I still get an error and am asked to provide the project_id.
So is the phrase.yml only used for push pull operations, and all other operations require the project_id to be provided in a flag?
Second question: when using the config

[2020-07-09 08:17] rlisowski commented on #203
This is a question about CLI v2, it's repo is here https://github.com/phrase/phrase-cli. Sorry for the confusion, I will add info about it to the readme.

To answer your questions:
1. yes, for now, the project_id from config file is used only in pull/push/cleanup commands phrase/phrase-cli#16
2. you can remove access token from file and provide it via flag or overwrite it with the --access_token f

[2020-07-10 12:06] rlisowski commented on #203
@misterfresh please let me know if I answered your questions and we can close this issue.

[2020-07-10 13:04] misterfresh commented on #203
Hello @rlisowski , thanks for your help. Yes we can close the issue.

[2020-07-10 13:04] #203 closed

[2020-07-22 16:26] jhwheeler commented on #163
I'm experiencing the same issue with JSON file format. It creates unnecessary diffs for every single file whenever I `phrase pull`, even if they haven't been edited.

I think this should be a quick fix, right?

[2020-07-27 06:41] theSoenke commented on #163
@jhwheeler Thanks for bringing it up again. We are currently tracking this issue for our new CLI in https://github.com/phrase/phrase-cli/issues/20

We'll have a look what the implementation would entail and keep you updated when I have some news

[2020-07-27 15:59] letehaha commented on #169
Any updates here? I want to see keys exactly in the same order I've added them to the file. This should be a not impossible feature. Thanks in advance!

[2020-07-28 09:45] theSoenke commented on #169
@letehaha Unfortunately right now we do not have this functionality planned. We do not store the original order of translations right now. The order could also be different for each language. In addition there is the question where newly created translation in Phrase would be placed at in the file.

@letehaha Could you maybe also describe your use case a little bit? In case you do manage the keys

[2020-07-28 13:54] letehaha commented on #169
@theSoenke thanks for your answer!

Agree with you.

To tell you the truth, I don't really care what order these keys are in. But 😄 My current use case: the keys for configuration and formatting are at the very top of the file to make it easy to find them because my translation file is quite large. Since I am currently in the active development phase, I often have to look there and change things.

[2020-08-05 02:48] jhwheeler commented on #163
Thanks!

[2020-08-10 12:37] rlisowski commented on #137
It's pretty printed in new CLI v2 https://github.com/phrase/phrase-cli

[2020-08-10 12:37] #137 closed

[2020-09-24 20:14] ElGoorf commented on #169
here's my use-case 😢

[code]

[2020-09-25 08:40] rlisowski commented on #169
@ElGoorf numbers as a key name are quite rare and sorting by length first not going to work for 99% of your keys too, so we cannot fix these keys order easily. Sorry.

On the other hand, looks like you are converting minutes to human-readable format. Hard coding it in localization file is not a good idea. I would use some helper function or package for it eg https://www.npmjs.com/package/humanize-

[2020-10-05 08:06] theSoenke commented on #126
There have been some improvements in the new CLI v2. Closing this for now

[2020-10-05 08:06] #126 closed

[2020-10-05 08:08] theSoenke commented on #191
Issue is being tracked for CLI v2 in https://github.com/phrase/phrase-cli/issues/13

[2020-10-05 08:08] #191 closed

[2020-10-05 08:12] theSoenke commented on #182
@Arjan-Zuidema We released  a new CLI v2 https://github.com/phrase/phrase-cli which should resolve this issue

[2020-10-05 08:12] #182 closed